<nav class="navbar bg-light">

    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/landing/estudiantes/tabla" >Estudiantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/landing/cursos/tabla">Cursos</a>
            </li>
            <li>
                <a class="nav-link active" routerLink="/login">
                    <mat-icon fontIcon="logout" color="warn"></mat-icon>
                </a>
            </li>
        </ul>
    </div>

</nav>