* {
    margin: 5px;
    padding: 5px;
}

app-toolbar {
    grid-area: toolbar;
    background-color: antiquewhite;
}

app-navbar {
    grid-area: navbar;
    background-color: antiquewhite;
}

app-students {
    grid-area: students;
    background-color: antiquewhite;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "toolbar toolbar"
    "navbar students";
    height: 100vh;
    gap: 10px;
}