<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Cursos Finalizados</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of estudiantes" [ngClass]="estudiante.estaActivo ? 'activo' : 'inactivo'">
            <th scope="row">{{ estudiante.id }}</th>
            <td>{{ estudiante.nombre }}</td>
            <td>{{ estudiante.apellido }}</td>
            <td>{{ estudiante.correo }}</td>
            <td>{{ estudiante.cursosFinalizados | cursoPipe}}</td>
        </tr>
    </tbody>
</table>